<div class="col-xs-12">
  <%= form_for(@expense) do |f| %>
    
    <% if @expense.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
        <% @expense.errors.full_messages.each do |message| %>
          <li class="alert alert-success"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field type-input col-xs-12">
      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "academic") %>
        <%= f.label(:expense_type_academic, "Academic", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>

      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "food") %>
        <%= f.label(:expense_type_food, "Food", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>

      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "rent") %>
        <%= f.label(:expense_type_rent, "Rent", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>

      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "health") %>
        <%= f.label(:expense_type_health, "Health", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>

      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "personal") %>
        <%= f.label(:expense_type_personal, "Personal", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>

      <div class="col-xs-2">
        <%= f.radio_button(:expense_type, "books") %>
        <%= f.label(:expense_type_books, "Books", :onclick=>"checkOption(this)", :class=>"col-xs-12") %>
      </div>
      
    </div>


    <div class="field amount-input col-xs-2">
      <%= f.label("$", :class=>"col-xs-3 number-input-label" ) %>
      <%= f.number_field(:amount, :class=>"field-input col-xs-9", :value=>"20") %>
    </div>
    
    <div class="field desc-input col-xs-7">
      <%= f.text_field(:desc,:class=>"expense-desc-field col-xs-12",:value=>"Expense Description") %>
    </div>

    
    <div class="actions col-xs-3">
    <%= button_tag(type: 'submit', class: "btn submit", id: 'validForm') do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    </div>

  <% end %>
</div>
